@import url("https://fonts.googleapis.com/css2?family=Allura&family=Indie+Flower&family=Lato&family=Merriweather&family=Montserrat:wght@400;900&family=Nunito:wght@700&family=Permanent+Marker&family=Playfair+Display&family=Poppins&family=Press+Start+2P&family=Roboto&family=Titillium+Web:wght@900&family=Ubuntu&family=Yellowtail&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* > * {
  font-family: "Poppins", sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

:root {
  --title-color: rgb(138, 136, 136);
  --muted-color: rgb(182, 182, 182);
  --bg-color-grey: rgb(214, 214, 214);
}

/* chrome,safari,edge,opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: none;
}

/* firefox */
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

body {
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
  /* background-color: #e7e6e6; */
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.title-xl,
.sub-title-para,
.more-bb {
  /* margin-bottom: calc(2rem + 2.75vmax); */
}
.title-xl {
  font-size: clamp(4rem, 4vw + 1rem, 8rem);
  font-weight: 600;
  letter-spacing: 3px;

  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(
    109.6deg,
    rgb(255, 89, 24) 11.2%,
    rgba(252, 232, 68, 1) 52%,
    rgba(53, 178, 239, 1) 100.2%
  );
  background-image: linear-gradient(
    89.9deg,
    rgba(255, 243, 110, 1) 16.9%,
    rgba(30, 204, 214, 1) 55.1%,
    rgb(250, 230, 49) 90.7%
  );
}

.sub-title-para {
  font-size: clamp(2rem, 2rem + 0.75vw, 3rem);
  font-weight: 500;
}

.more-bbtn {
  color: rgb(255, 255, 255);

  padding: 1rem 2rem;
  outline: none;
  border-radius: 0.2rem;
  border: 1px solid rgb(248, 192, 38);
  font-size: clamp(1.6rem, 1rem + 0.55vw, 2rem);
  font-weight: 500;
  background-color: transparent;
  position: relative;
  z-index: 2;
}

.more-bbtn:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  height: 90%;
  width: 0%;
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(255, 209, 67, 1) 0%,
    rgba(255, 145, 83, 1) 90%
  );
  opacity: 0;
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  transform-origin: center;
  z-index: -1;
}

.more-bbtn:hover::after,
.more-bbtn:visited::after {
  opacity: 1;
  width: 98%;
}

.title {
  /* padding: 1rem; */
  font-size: clamp(4.8rem, 5vw, 5.2rem);
  /* font-weight: 600; */
}

.sub_title {
  /* padding: 1rem; */
  font-size: clamp(3.2rem, 4vw, 4.2rem);
  /* font-weight: 600; */
}
.small_sub_title {
  /* padding: 1rem; */
  font-size: clamp(2rem, 2vw + 0.5rem, 4rem);
  /* font-weight: 600; */
}
.para {
  /* font-family: 'Lato', sans-serif; */
  font-family: "Roboto", sans-serif;
  /* letter-spacing: 1px; */
  /* padding: 0.2rem; */
  font-size: clamp(1.6rem, 1.2rem + 0.309vw, 2rem);
}
.para_big {
  /* font-family: "Montserrat", sans-serif; */
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
  padding: 0.2rem;
  font-size: clamp(1.8rem, 1.4rem + 0.309vw, 2rem);
}
.para_small {
  font-family: "Roboto", sans-serif;
  font-size: clamp(1.1rem, 1.2rem + 0.259vw, 2rem);
}
.para_extra_small {
  font-family: "Roboto", sans-serif;
  font-size: clamp(0.8rem, 0.8rem + 0.17vw, 1rem);
}

.small_txt {
  font-family: "Ubuntu", sans-serif;
  font-size: 14px;
}
.extra_small_txt {
  font-family: "Ubuntu", sans-serif;
  font-size: 10px;
}

.bbtn {
  font-family: "Ubuntu", sans-serif;
  /* color: rgb(255, 255, 255); */
  /* background-color: transparent; */
  outline: none;

  border: 1px solid rgb(253, 253, 253);
  padding: 1rem 2rem;
  font-size: clamp(1.6rem, 1rem + 0.55vw, 2rem);
  font-weight: 500;
  letter-spacing: 1.5px;
  margin-bottom: 0.5rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.bbtn:hover,
.bbtn:active {
  /* color: rgb(248, 192, 38); */
  /* background-color: white; */
}

.bbtn:active {
  transform: scale(1.05);
  transition: all 0.2s;
}

@media screen and (max-width: 600px) {
  .title {
    font-size: 32px;
    font-weight: 600;
  }

  .sub_title {
    font-size: 20px;
    font-weight: 600;
  }
  .para {
    font-size: 14px;
  }

  .small_txt {
    font-size: 12px;
  }

  /* Capital buton */
  .bbtn {
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1.5px;
  }
  /* non capital buton */
  /* .bbtn{
font-weight: 500;
 }  */
}

.grid-auto {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 2rem;
}

.roboto {
  font-family: "Roboto", sans-serif;
}

.poppins {
  font-family: "Poppins", sans-serif;
}

.ubuntu {
  font-family: "Ubuntu", sans-serif;
}

.lato {
  font-family: "Lato", sans-serif;
}

.merriweather {
  font-family: "Merriweather", serif;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
}

/* -------------------------- */
/* 404 page  */

#notfound {
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.notfound {
  height: 30vh;
  width: 80vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.notfound_404 {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  z-index: -2;
}

.notfound h1 {
  font-size: 25vmax;
  color: rgba(31, 30, 30, 0.096);
}
.notfound h2 {
  font-weight: 600;
  font-family: "Lato", sans-serif;
}
.notfound p {
  color: rgb(54, 54, 54);
  font-family: "Roboto", sans-serif;
  margin: 1.5vmax;
}

.notfound > a {
  background-color: rgb(0, 102, 255);
  border: 2px solid rgb(0, 102, 255);
  padding: 1rem 2rem;
  color: white;
  border-radius: 3rem;
}
.notfound > a > p {
  color: white;
}
.notfound > a > p:hover {
  color: rgb(7, 7, 7);
}
.notfound > a:hover {
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(0, 102, 255);
  color: black;
}

/* -------------------------- */

/* ------Spinner----------------- */
.loader{
  @apply border-gray-200 rounded-full border-4 h-10 w-10 ease-linear border-t-gray-800;
  animation: spinner 1.2s linear infinite;
}

@keyframes spinner{
  0%{transform: rotate(0deg);}
  100%{transform: rotate(360deg);}

}